.App {
  text-align: center;
}

.graph {
  overflow: wrap;
}

.graph-node {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
}

.graph-node:hover {
  background-color: aqua;
}

.graph-node.evaluated {
  background-color: violet;
}

.graph-node.isPath {
  background-color: cyan;
}

.graph-node.wall {
  background-color: black;
}

.graph-node.start {
  background-color: chartreuse;
}

.graph-node.end {
  background-color: red;
}

.graph-node p {
  font-size: 10px;
}
